# Node modules
node_modules/

# Environment variables
/server/.env

# Build artifacts
dist/
build/

# Log files
*.log

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/

# Temporary files
tmp/

# Miscellaneous
*.bak            # Backup files
*.swp            # Swap files